In [45]:
#1.Import package
#2.Create data frame
#3.Perform preprocessing task
#4.Split data frame into input and output features
#5.Create train and test data set
#6.Fitting a ML model
#7.Performance analysis
import pandas as pd #for creatin of data frame

In [25]:
df = pd.read_csv("titanic.csv")
df.head(10)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
7,8,"Palsson, Master. Gosta Leonard",3,male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [26]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns', inplace=True)

In [27]:
inputs = df.drop('Survived', axis='columns')
target = df.Survived

In [28]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [29]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [30]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [31]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [32]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [33]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [34]:
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [36]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [37]:
model.fit(X_train,y_train)

GaussianNB()

In [39]:
model.score(X_test,y_test)

0.7649253731343284

In [40]:
X_test[0:10]

     Pclass        Age     Fare  female
738       3  29.699118   7.8958       0
450       2  36.000000  27.7500       0
807       3  18.000000   7.7750       1
19        3  29.699118   7.2250       1
879       1  56.000000  83.1583       1
172       3   1.000000  11.1333       1
478       3  22.000000   7.5208       0
509       3  26.000000  56.4958       0
761       3  41.000000   7.1250       0
803       3   0.420000   8.5167       0

In [41]:
y_test[0:10]

738    0
450    0
807    0
19     1
879    1
172    1
478    0
509    1
761    0
803    1
Name: Survived, dtype: int64

In [42]:
model.predict(X_test[0:10])

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 0])

In [43]:
model.predict_proba(X_test[:10])

array([[0.96972355, 0.03027645],
       [0.9342027 , 0.0657973 ],
       [0.34410286, 0.65589714],
       [0.40131041, 0.59868959],
       [0.01270325, 0.98729675],
       [0.21458432, 0.78541568],
       [0.96514592, 0.03485408],
       [0.94252175, 0.05747825],
       [0.9718132 , 0.0281868 ],
       [0.92613704, 0.07386296]])

In [44]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.696     , 0.8       , 0.768     , 0.75806452, 0.87903226])